@font-face {
  font-family: "FrederickatheGreat";
  src: url("@/assets/fonts/FrederickatheGreat-Regular.ttf") format("truetype");
}

body {
  font-family: "FrederickatheGreat", sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .cstm-hero-bg {
    @apply bg-gray-800;
  }
}
